[submodule ".vim/vendor/Command-T"]
	path = .vim/vendor/Command-T
	url = http://github.com/wincent/Command-T.git
[submodule ".vim/bundle/cocoa.vim"]
	path = .vim/bundle/cocoa.vim
	url = git@github.com:baz/cocoa.vim.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = http://github.com/wincent/Command-T.git
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git@github.com:baz/snipmate.vim.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/conque"]
	path = .vim/bundle/conque
	url = https://github.com/rson/vim-conque.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
