[submodule ".vim/vendor/cocoa.vim"]
	path = .vim/vendor/cocoa.vim
	url = git@github.com:baz/cocoa.vim.git
[submodule ".vim/vendor/vcscommand"]
	path = .vim/vendor/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule ".vim/vendor/Command-T"]
	path = .vim/vendor/Command-T
	url = http://github.com/wincent/Command-T.git
